.container {
    display: grid;
    gap: var(--theme-values-grid_gap-min);
}

.element {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--theme-values-grid_gap-main);
}

.element > img {
    height: 40px;
}
