.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24px);
    overflow: auto visible;
}

.image:hover {
    transform: scale(1.04);
    transition: transform .4s;
}

.image {
    background: var(--theme-component-grid-image-background);
    height: var(--theme-component-grid-image-size);
    aspect-ratio: 1 / 1;
    border-radius: var(--theme-values-border_radius-max);
}
