.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24px);
    overflow-x: auto;

    grid-column: span 2;
    transition: transform 1s;
}

.image {
    background: var(--theme-component-grid-image-background);
    height: var(--theme-component-grid-image-size);
    aspect-ratio: 1 / 1;
    border-radius: var(--theme-values-border_radius-max);
}
