.container {
    position: relative;

    display: grid;
    grid-gap: var(--theme-values-grid_gap-min);
    align-content: center;

    padding: var(--theme-values-padding-main);
    border-radius: var(--theme-values-border_radius-main);

    overflow: hidden;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.03);
    transition: all 0.3s cubic-bezier(.14,1,.94,.85);
}

#spaced {
    background: red;
    grid-template-rows: 1fr auto;
}
