.container {
    display: grid;
    grid-gap: var(--theme-values-grid_gap-min);
    align-content: center;

    padding: var(--theme-values-padding-main);
    border-radius: var(--theme-values-border_radius-main);
}

#spaced {
    background: red;
    grid-template-rows: 1fr auto;
}
