:root {
    --theme-values-padding-main: 20px;
    --theme-values-border_radius-main: 15px;

    --theme-values-grid_gap-min: 10px;
    --theme-values-grid_gap-main: 20px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
